* {
  box-sizing: border-box;
}

// COLOR
$blue: #1F91FF;
$blue-30: rgba(31, 145, 255, 0.3);
$white: #FFF;
$green: #0DEF0D;
$yellow: #FFD700;
// $shadow: ;
// VAR
$radius: 1.5vw;
// FONT-SIZE
$h1: 32px;
$h1-mob: 26px; 
$h2: 28px; 
$h2-mob: 24px; 
$h3: 24px; 
$h3-mob: 20px; 
$h4: 20px; 
$h4-mob: 18px; 
$h5: 18px; 
$h5-mob: 15px; 
$h6: 16px; 
$h6-mob: 12px; 
// 
$margin: 30px auto;
$max-wd: 1140px;
$padding: 0 30px;

// GLOBAL
body {
  padding: 0 120px;
  color: $blue;
  font-family: Oswald, sans-serif;
  margin: 0;
}
p {
  margin: 0px;
}
.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.col {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

// HEADER
.header {
  background: $blue;
  border-radius: $radius;
  padding: 6px 30px 6px 150px;
  position: relative;
  margin: $margin;
  height: 42px;
  max-width: $max-wd;

  &__burger {
    display: none;
  }
  &__logo {
    background: $white;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    width: 90px;
  }
  &__title {
    font-size: $h1;
    color: $white;
  }
  &__title-mob {
    font-size: $h1-mob;
    display: none;
  }
  &__img {
    margin-left: 30px;
    width: 30px;
  }
  &__enter {
    display: none;
  }
}

@media (max-width: 1200px) {
  body {
    padding: 0 80px;
  }
  .header__title {
    display: none;
  }
  .header__title-mob {
    color: $white;
    display: flex;
  }
}

@media (max-width: 600px) {
  body {
    padding: 0 10px;
  }
  .header {
    padding: 10px 30px;
    height: 48px;

    &__burger {
      align-items: self-start;
      display: flex;
      height: 28px;
      width: 30px;

      span {
        background: $white;
        border-radius: 4px;
        display: block;
        height: 3.5px;
        width: 30px;

        &:nth-child(2) {
          width: 20px;
        }
      }
    }

    &__logo {
      left: 50%; 
      transform: translateX(-50%);
      max-width: 110px;
      width: 25vw;
    }

    &__title-mob {
      display: none;
    }

    &__img {
      display: none;
    }

    &__enter {
      display: flex;
      width: 30px;
    }
  }
}

// SIDEBAR
.burger {
  align-items: self-start;
  position: absolute;
  top: 35px;
  right: 40px;
  height: 32px;
  width: 40px;
  display: flex;

  span {
    background: $blue;
    border-radius: 4px;
    display: block;
    height: 5px;
    width: 40px;

    &:nth-child(2) {
      width: 28px;
    }
  }
}

.enter {
  position: absolute;
  top: 105px;
  right: 40px;
  width: 40px;
}
@media (max-width: 1200px) {
  .burger, .enter {
    right: 20px;
  }
}
@media (max-width: 600px) {
  .burger {
    display: none;
  }
  .enter {
    display: none;
  }
}

// SLIDER
.slider {
  margin: $margin;
  max-width: $max-wd;
  overflow: hidden;

  &__slides {
    display: flex;
    height: 20vh;
    min-height: 200px;
    transition: transform 0.5s ease-in-out;
  }
  &__slide {
    padding: $padding;
    border-radius: $radius;
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
  }
  &__slide img:nth-of-type(1) {
    display: block;
    width: 100%;
    max-height: 230px;
    height: 100%;
    border-radius: $radius;
    object-fit: cover;
  }
  &__slide img:nth-of-type(2) {
    display: none;
    width: 100%;
    height: 100%;
    border-radius: $radius;
    object-fit: cover;
  }
  &__slide--active {
    display: block;
  }
  &__dots {
    display: flex;
    bottom: 10px;
    left: 50%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
    gap: 5px;
  }
  &__dot {
    width: 12px;
    height: 12px;
    background: $blue-30;
    border-radius: 50%;
    cursor: pointer;
  }
  &__dot--active {
    background: $blue;
  }
}
@media (max-width: 600px) {
  .slider {
    &__slides {
      height: 75vh;
    }
    &__dots {
      margin-top: 30px;
    }
    &__slide img:nth-of-type(1) {
      display: none;
    }
  
    &__slide img:nth-of-type(2) {
      height: 75vh;
      display: block;
    }
  }
}

// MAIN-NAV
.main-nav {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-gap: 30px;
  padding: $padding;
  margin: $margin;
  max-width: $max-wd;

  &__section {
    border: 1px solid $blue;
    border-radius: $radius;
    box-shadow: 6px 6px 0px $blue;
    cursor: pointer;
    padding: 15px;
    height: 200px;
    width: 100%;
    transition: filter 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      filter: brightness(90%);
      box-shadow: 12px 12px 0px $blue;
      transform: scale(1.1);
    }
  }
  .section__img {
    margin-bottom: 15px;
    height: 50px;
    width: 46px;
  }
  .section__title {
    color: $blue;
    font-size: 20px;
  }
}

// NEWS
.news {

&__title {
  background: $blue;
  border-radius: $radius;
  color: $white;
  display: flex;
  font-size: 28px;
  justify-content: center;
  padding: $padding;
  margin: $margin;
  max-width: $max-wd;
  }

  &__box {
  margin: $margin;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: minmax(400px, 1fr);
  grid-gap: 30px;
  grid-auto-flow: row;
  justify-items: center;
  padding: $padding;
  max-width: $max-wd;
  }
}

.advert {
  border-radius: $radius;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.501);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease, background-color 0.3s ease;

  &:hover {
    transform: scale(1.05);

    .advert__title {
      color: $white;
    }

    .advert__footer {
      background-color: $white;
      color: $blue;
    }
  }

  &__img {
  border-radius: $radius $radius 0 0;
  height: 45%;
  object-fit: cover;
  width: 100%;
  transition: opacity 0.3s ease;
  }

  &__title {
  text-align: center;
  color: $blue;
  font-size: 24px;
  margin: 10px;
  transition: color 0.3s ease;
  }

  &__footer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border-radius: $radius;
  padding: 5px 10px;
  background: $blue;
  color: $white;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  }
}

.advert[data-tag="Библиотека"] .advert__img {
border-bottom: 10px solid $green;
}

.advert[data-tag="Спорт"] .advert__img {
border-bottom: 10px solid $yellow;
}

.advert[data-tag="Медицина"] .advert__img {
border-bottom: 10px solid $blue;
}
@media (max-width: 600px) {
  .news__box {
    display: flex; /* Изменяем отображение на flex для горизонтального выстраивания */
    flex-direction: row; /* Строчное размещение элементов */
    overflow-x: auto; /* Включаем горизонтальную прокрутку */
    overflow-y: hidden; /* Отключаем вертикальную прокрутку */
    white-space: nowrap; /* Запрещаем переносы строк */
  }

  .advert {
    flex: 0 0 auto; /* Задаем фиксированную ширину для каждого элемента */
    width: 80%; /* Задаем ширину каждого элемента */
    margin-right: 10px; /* Добавляем отступ между элементами */
  }
}

.news__tags {
  display: flex;
  gap: 10px;
  font-size: 24px;
  padding: $padding;
  margin: $margin;
  max-width: $max-wd;
  flex-flow: row wrap;

  .tag {
    padding: 8px 12px;
    background: rgba(13, 239, 13, 0.3);
    border: none;
    border-radius: $radius;
    color: green;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    font-size: 14px;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &:hover {
      transform: scale(1.1);
      opacity: 0.7;
    }

    &.active {
      background: $blue;
      color: $white;
    }

    &[data-tag="Спорт"] {
      background: rgba(255, 215, 0, 0.3);
      color: #FFD700;

      &.active {
        background: $yellow;
        color: $white;
      }
    }

    &[data-tag="Медицина"] {
      background: rgba(31, 145, 255, 0.3);
      color: $blue;

      &.active {
        background: $blue;
        color: $white;
      }
    }
  }
}

// CERTIFICATES
.sertificates {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 30px;
  padding: $padding;
  margin: $margin;
  max-width: $max-wd;

  &__img {
    border-radius: $radius;
    box-shadow: 0px 0px 6px 2px #00000038;
    padding: 5px;
    height: 80px;
    width: 100%;
  }
}