@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0 120px;
  color: #1F91FF;
  font-family: Oswald, sans-serif;
  margin: 0;
}

p {
  margin: 0px;
}

.row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background: #1F91FF;
  border-radius: 1.5vw;
  padding: 6px 30px 6px 150px;
  position: relative;
  margin: 30px auto;
  height: 42px;
  max-width: 1140px;
}
.header__burger {
  display: none;
}
.header__logo {
  background: #FFF;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  width: 90px;
}
.header__title {
  font-size: 32px;
  color: #FFF;
}
.header__title-mob {
  font-size: 26px;
  display: none;
}
.header__img {
  margin-left: 30px;
  width: 30px;
}
.header__enter {
  display: none;
}

@media (max-width: 1200px) {
  body {
    padding: 0 80px;
  }
  .header__title {
    display: none;
  }
  .header__title-mob {
    color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 600px) {
  body {
    padding: 0 10px;
  }
  .header {
    padding: 10px 30px;
    height: 48px;
  }
  .header__burger {
    -webkit-box-align: self-start;
        -ms-flex-align: self-start;
            align-items: self-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 28px;
    width: 30px;
  }
  .header__burger span {
    background: #FFF;
    border-radius: 4px;
    display: block;
    height: 3.5px;
    width: 30px;
  }
  .header__burger span:nth-child(2) {
    width: 20px;
  }
  .header__logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    max-width: 110px;
    width: 25vw;
  }
  .header__title-mob {
    display: none;
  }
  .header__img {
    display: none;
  }
  .header__enter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
  }
}
.burger {
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  position: absolute;
  top: 35px;
  right: 40px;
  height: 32px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.burger span {
  background: #1F91FF;
  border-radius: 4px;
  display: block;
  height: 5px;
  width: 40px;
}
.burger span:nth-child(2) {
  width: 28px;
}

.enter {
  position: absolute;
  top: 105px;
  right: 40px;
  width: 40px;
}

@media (max-width: 1200px) {
  .burger, .enter {
    right: 20px;
  }
}
@media (max-width: 600px) {
  .burger {
    display: none;
  }
  .enter {
    display: none;
  }
}
.slider {
  margin: 30px auto;
  max-width: 1140px;
  overflow: hidden;
}
.slider__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20vh;
  min-height: 200px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.slider__slide {
  padding: 0 30px;
  border-radius: 1.5vw;
  min-width: 100%;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.slider__slide img:nth-of-type(1) {
  display: block;
  width: 100%;
  max-height: 230px;
  height: 100%;
  border-radius: 1.5vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__slide img:nth-of-type(2) {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 1.5vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__slide--active {
  display: block;
}
.slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 10px;
  left: 50%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  width: 100%;
  gap: 5px;
}
.slider__dot {
  width: 12px;
  height: 12px;
  background: rgba(31, 145, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
}
.slider__dot--active {
  background: #1F91FF;
}

@media (max-width: 600px) {
  .slider__slides {
    height: 75vh;
  }
  .slider__dots {
    margin-top: 30px;
  }
  .slider__slide img:nth-of-type(1) {
    display: none;
  }
  .slider__slide img:nth-of-type(2) {
    height: 75vh;
    display: block;
  }
}
.main-nav {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-gap: 30px;
  padding: 0 30px;
  margin: 30px auto;
  max-width: 1140px;
}
.main-nav__section {
  border: 1px solid #1F91FF;
  border-radius: 1.5vw;
  -webkit-box-shadow: 6px 6px 0px #1F91FF;
          box-shadow: 6px 6px 0px #1F91FF;
  cursor: pointer;
  padding: 15px;
  height: 200px;
  width: 100%;
  -webkit-transition: -webkit-filter 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: -webkit-filter 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: filter 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  transition: filter 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, -webkit-filter 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.main-nav__section:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  -webkit-box-shadow: 12px 12px 0px #1F91FF;
          box-shadow: 12px 12px 0px #1F91FF;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.main-nav .section__img {
  margin-bottom: 15px;
  height: 50px;
  width: 46px;
}
.main-nav .section__title {
  color: #1F91FF;
  font-size: 20px;
}

.news__title {
  background: #1F91FF;
  border-radius: 1.5vw;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  margin: 30px auto;
  max-width: 1140px;
}
.news__box {
  margin: 30px auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: minmax(400px, 1fr);
  grid-gap: 30px;
  grid-auto-flow: row;
  justify-items: center;
  padding: 0 30px;
  max-width: 1140px;
}

.advert {
  border-radius: 1.5vw;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.501);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.501);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
}
.advert:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.advert:hover .advert__title {
  color: #FFF;
}
.advert:hover .advert__footer {
  background-color: #FFF;
  color: #1F91FF;
}
.advert__img {
  border-radius: 1.5vw 1.5vw 0 0;
  height: 45%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.advert__title {
  text-align: center;
  color: #1F91FF;
  font-size: 24px;
  margin: 10px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.advert__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
  border-radius: 1.5vw;
  padding: 5px 10px;
  background: #1F91FF;
  color: #FFF;
  font-size: 16px;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.advert[data-tag=Библиотека] .advert__img {
  border-bottom: 10px solid #0DEF0D;
}

.advert[data-tag=Спорт] .advert__img {
  border-bottom: 10px solid #FFD700;
}

.advert[data-tag=Медицина] .advert__img {
  border-bottom: 10px solid #1F91FF;
}

@media (max-width: 600px) {
  .news__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* Изменяем отображение на flex для горизонтального выстраивания */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; /* Строчное размещение элементов */
    overflow-x: auto; /* Включаем горизонтальную прокрутку */
    overflow-y: hidden; /* Отключаем вертикальную прокрутку */
    white-space: nowrap; /* Запрещаем переносы строк */
  }
  .advert {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; /* Задаем фиксированную ширину для каждого элемента */
    width: 80%; /* Задаем ширину каждого элемента */
    margin-right: 10px; /* Добавляем отступ между элементами */
  }
}
.news__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: 24px;
  padding: 0 30px;
  margin: 30px auto;
  max-width: 1140px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.news__tags .tag {
  padding: 8px 12px;
  background: rgba(13, 239, 13, 0.3);
  border: none;
  border-radius: 1.5vw;
  color: green;
  cursor: pointer;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  font-size: 14px;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}
.news__tags .tag:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.7;
}
.news__tags .tag.active {
  background: #1F91FF;
  color: #FFF;
}
.news__tags .tag[data-tag=Спорт] {
  background: rgba(255, 215, 0, 0.3);
  color: #FFD700;
}
.news__tags .tag[data-tag=Спорт].active {
  background: #FFD700;
  color: #FFF;
}
.news__tags .tag[data-tag=Медицина] {
  background: rgba(31, 145, 255, 0.3);
  color: #1F91FF;
}
.news__tags .tag[data-tag=Медицина].active {
  background: #1F91FF;
  color: #FFF;
}

.sertificates {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 30px;
  padding: 0 30px;
  margin: 30px auto;
  max-width: 1140px;
}
.sertificates__img {
  border-radius: 1.5vw;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2196078431);
          box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2196078431);
  padding: 5px;
  height: 80px;
  width: 100%;
}